@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,900&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Roboto+Slab:wght@900&display=swap');

:root {
    --main-color: #ffffff;
    --text-color: #ffffff;
    --bg-color: #1b1f24;
    --second-bg-color: #22282f;
    --black-color: #121212;
    --white-color: #ffff;
    --font-color: #ffffff;
    --border: 0.1rem solid rgba(247, 2, 2, 0.4);
    --background-color: #000000;

    --h1-font: 5rem;
    --h2-font: 4rem;
    --p-font: 3rem;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
    list-style: none;
}


/* base html codes */


html {
    font-size: 58%;
    overflow-x: hidden;
}


html::-webkit-scrollbar {
    width: 0.8rem;
    background-color: #ffffff;
}


html::-webkit-scrollbar-track {
    background-color: transparent;
}


html::-webkit-scrollbar-thumb {
    background-color: rgb(99, 97, 97);
}


body {
    position: relative;
    height: 100%;
    background-color: var(--background-color);
    color: #fff;
}

section {
    padding: 3.5rem 7%;
}


a {
    color: var(black-color);
    text-decoration: none;
}


.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 30rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--background-color);
    cursor: pointer;
}


.btn:hover {
    opacity: 0.9;
}


/* base html codes end */







/*! header start */

.header .navbar {
    padding: 0;
}


.header .navbar .container-fluid {
    background-color: rgb(0, 0, 0);
}


.header .navbar .container-fluid img {
    max-width: 6%;
    background-repeat: no-repeat;
    padding-left: 10px;
    margin: 0;
}


.header .navbar .container-fluid .collapse {
    margin: 10px 300px;
    text-align: left;
    float: right;
    width: fit-content;
}


.header .navbar .container-fluid .navbar-toggler {
    background-color: white;
    margin: 10px;
    padding: 0;
    width: 40px;
}


.header .navbar .container-fluid .collapse a {
    color: whitesmoke;
    font-size: 15px;
    padding: 5px 10px;
    width: max-content;
    transition: 1s ease;
}


.header .navbar .container-fluid .collapse a:hover {
    transform: scale(1.1);
}

/*! header end */







/*! home start */

.home {
    height: fit-content;
    background: url(../img/AnyConv.com__Başlıksız-22.webp) no-repeat;
    background-size: 40%;
    background-position: right bottom 50%;
    display: flex;
    margin-top: 0rem;
}


.home .content h3 {
    font-size: 3rem;
    margin-left: 30px;
    margin: 150px;
    color: #ffffff;
}


.home .content h3 span {
    color: #03f4bc;
}


.home .content p {
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    width: 900px;
    text-align: left;
    padding-bottom: 4px;
    margin-bottom: 100px;
    text-transform: initial;
}

.home .content p span {
    font-family: 'Fira Code', monospace;
    font-weight: 600;
    font-size: 30px;
}

.home .content #demo {
    margin: 200px 50px 40px 0;
    font-family: 'Fira Code', monospace;
    color: #c5927a;
    font-size: 30px;
}


.home .content a {
    color: #ffffff;
    background-color: #262626;
    font-size: 17px;
    position: sticky;
    padding: 5px;
    text-align: center;
}


.home .share {
    font-size: 25px;
    padding-top: 2rem;
    width: 150px;
    height: fit-content;
    color: #03f4bc;
}


/*! home end */







/*! about start */


.about {
    margin: 120px 0;
    padding: 100px 200px;
    width: 100%;
    height: 500px;
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
}



.about #demo2 {
    margin: 200px 50px;
    font-family: 'Fira Code', monospace;
    color: #c5927a;
    font-size: 30px;
}


.about .container {
    margin: 0;
    padding: 50px 0px;
    width: auto;
    height: 400px;
    display: flex;
    position: relative;
    justify-content: space-between;
}


.about .container .photo .circular--square {
    border-radius: 50%;
    box-shadow: -1px 1px 25px 0.1px rgba(3, 244, 188, 1);
}


.about .text {
    vertical-align: middle;
    padding-top: 7%;
}


.about p {
    width: 800px;
    float: left;
    margin-left: 50px;
    color: whitesmoke;
    text-transform: initial;
    font-size: 17px;
    vertical-align: middle;
}


.skills {
    margin: 0 100px 100px 100px;
    padding: 0;
    width: 88%;
    height: fit-content;
    display: inline-block;
    position: relative;
    justify-content: space-between;
}


.skills h2 {
    text-align: center;
    font-size: 25px;
}


.skills .left-col {
    display: block;
    position: relative;
    justify-content: space-between;
    float: left;
    width: 45%;
    margin-left: 100px;
}


.skills .left-col h2 {
    text-align: left;
    padding-left: 20px;
}


.skills .left-col .container {
    margin: 50px 15px;
    display: flex;
    position: relative;
    width: 400px;
}


.skills .left-col .container img {
    width: 100px;
    height: 150px;
}


.skills .left-col .container p {
    padding: 75px 30px;
    text-transform: initial;
    font-size: 17px;
}


.skills .right-col {
    display: block;
    position: relative;
    justify-content: space-between;
    width: 45%;
    float: right;
}


.skills .right-col h2 {
    text-align: left;
    padding-left: 20px;
}


.skills .right-col .container {
    margin: 60px 15px;
    display: flex;
    position: relative;
    width: 400px;
}


.skills .right-col .container img {
    width: 60px;
    height: 60px;
}


.skills .right-col .container p {
    padding: 30px 30px;
    text-transform: initial;
    font-size: 17px;
}

/*! about end */







/*! Services Start */

.services {
    display: block;
    width: 100%;
    height: 800px;
}


.services .container div {
    width: 100%;
    transition: 1s ease;
    opacity: 0.7;
}


.services .container div:hover {
    transform: scale(1.03);
    opacity: 1;
}


.services .container #demo3 {
    text-align: center;
    margin: 200px 50px;
    font-family: 'Fira Code', monospace;
    color: #c5927a;
    font-size: 30px;
}


.services .container span {
    color: #03f4bc;
    font-size: 25px;
}


.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 100%));
    grid-gap: 2rem;
    margin-top: 50px;
    max-height: 700px;
}


.services-list div {
    background: #262626;
    position: sticky;
    padding: 40px;
    font-size: 16px;
    font-weight: 300;
    color: white;
    width: 420px;
    height: 550px;
    overflow: hidden;
    border: 4px solid;
    border-image: linear-gradient(45deg, gold, deeppink) 1;
    clip-path: inset(0px round 10px);
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);
}


@keyframes huerotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}


.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}


.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}


.services-list div a {
    color: #03f4bc;
    text-decoration: none;
    font-size: 15px;
}


.services-list div p {
    text-transform: initial;
}


/*! Services End */



/*! Portfolyo Start */

.portfolio {
    position: relative;
    padding: 60px 90px 100px 90px;
}


.portfolio h1 {
    font-size: 25px;
}


.swiper {
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 700px;
    height: 600px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
}



/*! Portfolyo End */






/*! Blog Start */


.blog {
    padding: 50px 90px;
    padding-bottom: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.blog h1 {
    font-size: 30px;
    margin-top: -10px;
    margin-bottom: 0;
}


.blog h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


.blog h2 span {
    color: #03f4bc;
}

.blog .left-col {
    width: 70%;
    margin: 50px 0 50px 30px;
}


.blog .left-col .container-num .containerId {
    position: relative;
    margin-bottom: -80px;
    margin-left: -30px;
    font-family: 'Roboto Slab', serif;
    font-size: 140px;
    font-weight: 900;
    color: whitesmoke;
    opacity: 0.1;
}


.blog .left-col .container {
    opacity: 0.5;
    width: 1200px;
    display: inline-block;
    position: flex;
    justify-content: flex-start;
    padding-bottom: 90px;
    height: 253px;
    border: 3px solid rgb(48, 48, 48);
    border-radius: 8px;
    transition: 1s ease;
}


.blog .left-col .container:hover {
    transform: scale(1.03);
    opacity: 1;
}


.blog .left-col .container .content-left-col img {
    width: auto;
    max-width: 300px;
    height: 190px;
    float: left;
}


.blog .left-col .container .content-right-col {
    float: left;
    margin-left: 30px;
    max-width: 800px;
    height: 190px;
    font-size: 17px;
}


.blog .left-col .container .content-right-col p {
    display: flex;
}


.blog .left-col .container .content-right-col a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    vertical-align: bottom;
    float: right;
    margin-top: 60px;
    margin-right: 10px;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 3px 10px;
    transition: 1s ease;
}


.blog .left-col .container .content-right-col:hover a {
    background-color: white;
    color: black;
    font-weight: 400;
}


/*! Blog End */







/*! Contact Start */


#contact {
    font-size: 16px;
    color: #fff;
    text-transform: initial;
    padding: 40px 0px;
    margin: 0;

}


#contact h1 {
    color: white;
    font-size: 25px;
    padding: 85px;
}


#contact h1 span {
    color: #03f4bc;
}


#contact .contact-info {
    justify-content: flex-start;
    height: 300px;
    width: 300px;
    margin: 50px 100px 50px 150px;
    float: left;
    width: 50%;
}


#contact .contact-info p {
    color: white;
    text-transform: initial;
    padding: 10px 0;
}


#contact .contact-info a {
    color: white;
    padding: 10px 0 10px 0;
}


#contact .form {
    display: flex;
    position: relative;
    width: 400px;
    margin: 50px 100px 0 100px;
}


.form input {
    color: white;
    font-size: 15px;
    text-transform: initial;
}


.form input,
form textarea {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    outline: none;
    box-shadow: 0 0 5px rgba(3, 244, 188, 1);
    background: var(--background-color);
    color: white;
    margin-bottom: 15px;
    border-radius: 8px;
    text-transform: initial;
    font-size: 13px;
}


.form textarea {
    padding-top: 10px;
    height: 100px;
}


.form #send-btn {
    display: inline-block;
    width: 200px;
    height: 40px;
    margin-bottom: 50px;
    margin-left: 100px;
    padding: 5px 26px;
    background: var(main-color);
    color: whitesmoke;
    border: 2px solid var(main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    opacity: 0.4;
}


form #send-btn:hover {
    background: rgb(87, 226, 194);
    color: black;
    opacity: 1;
    box-shadow: 0 0 20px rgba(3, 244, 188, 1);
    cursor: pointer;
}


/*! Contact End */







/*! Footer Start */

.footer {
    width: 100%;
    padding: 15px 16%;
    background: #202020;
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    height: 60px;
}


.copyright p {
    font-size: 10px;
    font-weight: 400;
    color: var(--font-color);
}


.scroll-top i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #03f4bc;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: var(--text-color);

}

/*! Footer End */



/* CV Start */

.resume {
    margin: 0;
    width: 100%;
}


.resume .cv {
    justify-content: center;
    position: relative;
    display: flex;
}


.resume .download {
    margin-top: 10px;
    text-align: center;
    margin: 30px 0;
}


.resume .download a {
    font-weight: 900;
    font-size: 15px;
    border: 5px solid whitesmoke;
    background-color: white;
    padding: 4px 7px;
    color: black;
    border-radius: 30px;
}


.resume img {
    justify-content: center;
    align-items: center;
    width: 550px;
}



/* CV End */


/* Message Section Start */


/* Message Section End */







/* MEDİA QUERİES Start */

/* Small devices (phones, 576px and up)*/
@media (max-width: 414px) {
    body {
        width: 414px;
        overflow-x: hidden;
    }


    body p {
        font-size: 12px;
    }


    .header .navbar .container-fluid img {
        width: 50px;
        transform: scale(1.7);
        height: auto;
    }


    .header .navbar .collapse {
        color: white;
        width: 390px;
        margin: 0;
        padding: 0;
    }
    
    .header .navbar .container-fluid .collapse a{
        font-size: 10px;
    }


    .header .navbar .container-fluid .navbar-toggler {
        font-size: 15px;
        opacity: 0.5;
        border-radius: 10px;
    }


    .home {
        width: 414px;
        background-size: auto;
        background-image: url(../img/AnyConv.com__Başlıksız-22.webp);
        background-position: right;
    }


    .home .content {
        margin-bottom: 0px;
    }


    .home .content p {
        color: white;
        margin-top: 20px;
        font-size: 8px;
        width: 300px;
        margin-bottom: 20px;
    }

    .home .content #demo {
        margin: auto;
        max-width: auto;
        font-size: 10px;
        color: #c5927a;
    }


    .home .content .resume i {
        transform: scale(0.7);
        width: min-content;
    }


    .about {
        width: 400px;
        height: max-content;
        display: block;
        margin: 10px;
        padding: 0;
    }


    .about .container {
        width: 400px;
        height: fit-content;
        padding: 10px;
    }


    .about .container .photo {
        height: fit-content;
        width: fit-content;
    }


    .about .container img {
        width: 90px;
        height: auto;
        margin: 1rem;
        padding: 0;
    }


    .about h1 {
        margin: 0 20px;
        font-size: 14px;
    }


    .about .text {
        padding: 10px;
        margin-right: 40px;
    }


    .about p {
        display: flexbox;
        margin: 0;
        padding: 0;
        width: 250px;
        font-size: 8px;
    }


    .skills {
        margin: 5px 20px;
        padding: 0;
    }


    .skills .left-col {
        margin: 0;
        padding: 0;
        width: 160px;
        height: fit-content;
    }


    .skills .left-col h2 {
        font-size: 15px;
    }

    .skills .left-col .container {
        padding: 0;
        margin: 0;
        width: 170px;
        height: fit-content;
    }


    .skills .left-col .container img {
        width: 50px;
        height: 80px;
        padding: 10px;
    }


    .skills .left-col .container .bookname {
        font-size: 8px;
        margin: 20px 0;
        padding: 0px 8px;
        width: 90px;
        height: 50px;
    }


    .skills .right-col {
        margin: 0;
        padding: 0;
        width: 150px;
        height: fit-content;
    }


    .skills .right-col h2 {
        padding: 0;
        font-size: 13px;
    }


    .skills .right-col .container {
        padding: 0;
        margin: 10px 0;
        width: 200px;
        height: fit-content;
    }


    .skills .right-col .container img {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 0;
    }


    .skills .right-col .container p {
        padding: 10px;
        font-size: 10px;
    }


    .services {
        display: flex;
        margin: auto;
        align-items: center;
        padding: 20px;
        width: 414px;
        height: 900px;
    }

    .services .container {
        height: 100%;
    }


    .services .container h1,
    .services .container span {
        padding: 0;
        margin: 0;
        font-size: 15px;
        text-align: left;
    }

    .services .services-list {
        margin: auto;
        align-items: center;
        display: flex-box;
        flex-wrap: wrap;
        height: max-content;
        margin: 20px 0;
    }


    .services .services-list div {
        width: 180px;
        height: fit-content;
        padding: 5px;
        margin: auto;

    }


    .services .services-list div i {
        transform: scale(0.5);
        margin-bottom: 2px;
    }

    .services .services-list div h2 {
        font-size: 10px;
        padding-left: 15px;
        margin: 0;
    }

    .services .services-list div p {
        padding-left: 8px;
        padding-top: 10px;
        font-size: 8px;
    }

    .services .services-list div a {
        font-size: 10px;
        float: right;
    }

    .portfolio {
        width: 100%;
        height: auto;
        padding: 0;
        margin: auto;
        align-items: center;
    }

    .portfolio h1 {
        font-size: 15px;
        padding-left: 20px;
    }

    .swiper {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: auto;
    }

    .swiper .swiper-pagination{
        display: none;

    }


    .blog {
        width: 380px;
        margin: 0 10px;
        padding: 0;
    }


    .blog h1 {
        font-size: 15px;
        padding-left: 20px
    }


    .blog h1 {
        font-size: 20px;
    }


    .blog h2 {
        font-size: 15px;
        text-align: center;
    }


    .blog .left-col {
        margin: 10px 5px;
    }


    .blog .left-col .container-num {
        width: fit-content;
    }


    .blog .left-col .container-num .containerId {
        font-size: 60px;
        margin-top: 0;
        width: fit-content;
        padding-left: 20px;

    }


    .blog .left-col .container {
        padding: 0;
        margin: 0;
        width: 360px;
        height: 100px;
    }


    .blog .left-col .container .sub-title {
        margin: 0;
        text-align: center;
    }


    .blog .left-col .container .content-left-col img {
        padding: 0;
        margin: 0;
        width: 80px;
        height: 50px;
    }


    .blog .left-col .container .content-right-col {
        width: 240px;
        margin: 6px;
    }


    .blog .left-col .container .content-right-col a {
        font-size: 10px;
        margin: 10px;
        border: 1px solid white;
    }


    #contact {
        width: 400px;
    }


    #contact h1 {
        padding: 20px;
        font-size: 20px;
    }


    #contact .contact-info {
        margin: 20px 50px;
        height: fit-content;
    }


    #contact .form {
        margin: 20px 50px;
        width: 250px;
    }


    #contact .form input {
        width: 250px;
        height: 20px;
        font-size: 8px;
    }


    #contact .form textarea {
        width: 250px;
        font-size: 8px;
    }


    #contact .form .btn {
        width: 250px;
        margin: 0;
        padding: 0;
        font-size: 10px;
    }


    .footer {
        width: 100%;
    }

    .resume .cv{
        margin: 100px 0;
    }

    .resume img{
        display: flexbox;
        margin: auto;
        align-items: center;
        width: 300px;
        height: auto;
    }
}


/* For Tabletes */

@media only screen and (min-width: 768px) and (max-width: 1430px) {
    body p {
        font-size: 12px;
    }


    body {
        width: 768px;
        overflow-x: hidden;
    }


    .header .navbar .container-fluid img {
        width: 50px;
        transform: scale(1.7);
        height: auto;
    }


    .header .navbar .navbar-collapse {
        position: relative;
        display: flex;
        color: white;
        width: 390px;
        margin: 0;
        text-align: center;
        padding: 0 0 0 20px;
        float: right;
        justify-content: right;
    }


    .header .navbar .container-fluid .collapse {
        margin: 10px 100px;

    }


    .header .navbar .container-fluid .collapse a {
        font-size: 8px;
    }



    .header .navbar .container-fluid .navbar-toggler {
        font-size: 15px;
        opacity: 0.5;
        border-radius: 10px;
    }


    .home {
        width: 768px;
        background-size: auto;
        background-image: url(../img/AnyConv.com__Başlıksız-22.webp);
        background-position: right;
        background-size: 50%;
    }


    .home .content {
        margin: 10px;
        margin-bottom: 0px;
    }


    .home .content h3 {
        padding: 0;
        margin: 0;
        font-size: 20px;
    }


    .home .content p {
        margin: 20px 0 0 0;
        font-size: 12px;
        width: 400px;
    }

    .home .content #demo{
        margin: 60px 0;
        font-size: 13px;
    }


    .home .content .resume i {
        transform: scale(1);
        width: fit-content;
    }


    .about {
        width: 760px;
        height: max-content;
        display: block;
        margin: 10px;
        padding: 0;
    }


    .about .container {
        width: 760px;
        height: fit-content;
        justify-content: space-around;
        padding: 10px;
    }


    .about .container .photo {
        height: fit-content;
        width: fit-content;
    }


    .about .container img {
        width: 150px;
        height: auto;
        margin: 1rem;
        padding: 0;
    }


    .about h1 {
        margin: 0 20px;
        font-size: 15px;
    }


    .about .text {
        padding: 10px;
        margin-right: 10px;
    }


    .about p {
        display: flexbox;
        margin: 30px 0;
        padding: 0;
        width: 466px;
        font-size: 10px;
        
    }


    .skills {
        margin: 5px 20px;
        padding: 0;
    }


    .skills .left-col {
        margin-left: 50px;
        padding: 0;
        width: 160px;
        height: fit-content;
    }


    .skills .left-col h2 {
        font-size: 20px;
    }


    .skills .left-col .container {
        padding: 0;
        margin: 0;
        width: 170px;
        height: fit-content;
    }


    .skills .left-col .container img {
        width: 70px;
        height: 90px;
        padding: 10px;
    }


    .skills .left-col .container .bookname {
        font-size: 12px;
        margin: 20px 0;
        padding: 0px 8px;
        width: 90px;
        height: 50px;
    }


    .skills .right-col {
        margin-right: 70px;
        padding: 0;
        width: 250px;
        height: fit-content;
    }


    .skills .right-col h2 {
        padding: 0;
        font-size: 20px;
    }


    .skills .right-col .container {
        padding: 0;
        margin: 0;
        width: 200px;
        height: fit-content;
    }


    .skills .right-col .container img {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 0;
    }


    .skills .right-col .container p {
        padding: 12px;
        font-size: 10px;
    }


    .services {
        margin: 0;
        padding: 20px;
        width: 760px;
        height: auto;
    }


    .services .container {
        height: min-content;
    }


    .services .container h1,
    .services .container span {
        padding: 0;
        margin: 0;
        font-size: 20px;
        text-align: left;
    }

    .services .services-list {
        padding: 0;
        margin: 20px 0;
        display: flex;
        width: 760px;
        height: min-content;
    }


    .services .services-list div {
        width: 200px;
        padding: 0;
        margin-left: 10px;
        height: 370px;
    }


    .services .services-list div i {
        transform: scale(0.5);
        margin-bottom: 10px;
    }


    .services .services-list div h2 {
        font-size: 16px;
        padding-left: 15px;
        margin: 0;
    }


    .services .services-list div p {
        padding: 10px;
        font-size: 10px;
    }


    .services .services-list div a {
        font-size: 10px;
        float: right;
    }


    .portfolio {
        padding: 0;
        margin: 20px 0 20px 10px;
        width: 760px;
        height: auto;
    }


    .portfolio h1 {
        font-size: 15px;
        padding-left: 20px;
    }


    .portfolio .carousel {
        width: 700px;
        margin: 20px;
        float: left;
    }

    .portfolio .portfolio_links {
        padding: 0;
        margin: 0;
        width: 760px;
        height: 400px;
    }


    .portfolio .portfolio_links .portfolio_container {
        padding: 50px 0;
        margin: 0;
        display: block;
        width: 200px;
        height: 300px;
    }


    .portfolio .portfolio_links .portfolio_container img {
        width: 150px;
        height: 300px;
    }


    .portfolio .portfolio_links .portfolio_container a {
        margin: 10px;
        font-size: 8px;
        font-weight: 100;
        opacity: 0.5;
    }


    .portfolio .portfolio_links .portfolio_container:hover a {
        opacity: 1;
    }


    .blog {
        width: 760px;
        margin: 20px;
        padding: 0;
    }


    .blog h1 {
        font-size: 20px;
        padding-left: 20px
    }


    .blog h2 {
        font-size: 17px;
        text-align: center;
    }


    .blog .left-col {
        margin: 10px 5px;
    }


    .blog .left-col .container-num {
        width: fit-content;
    }


    .blog .left-col .container-num .containerId {
        font-size: 60px;
        margin-top: 0;
        width: fit-content;
        padding-left: 17px;
        padding-bottom: 27px;
    }


    .blog .left-col .container {
        padding: 0;
        margin: 0;
        width: 700px;
        height: 110px;
    }


    .blog .left-col .container .sub-title {
        margin: 0;
        text-align: center;
    }


    .blog .left-col .container .content-left-col img {
        padding: 0;
        margin: 0;
        width: 120px;
        height: 80px;
    }


    .blog .left-col .container .content-right-col {
        width: 550px;
        margin: 6px;
    }


    .blog .left-col .container .content-right-col a {
        font-size: 10px;
        margin: 10px;
        border: 1px solid white;
    }


    #contact {
        width: 760px;
    }


    #contact h1 {
        padding: 20px;
        font-size: 20px;
    }


    #contact .contact-info {
        margin: 50px;
    }


    #contact .form {
        margin: 50px;
        width: 250px;
    }


    #contact .form input {
        width: 250px;
        height: 20px;
    }


    #contact .form textarea {
        width: 250px;
    }


    #contact .form .btn {
        width: 250px;
        margin: 0;
        padding: 0;
        font-size: 10px;
    }


    .footer {
        width: 100%;
    }
}


@media only screen and (min-width: 10px) and (max-width: 1430px) {
    body p {
        font-size: 12px;
    }


    body {
        width: 768px;
        overflow-x: hidden;
    }


    .header .navbar .container-fluid img {
        width: 50px;
        transform: scale(1.7);
        height: auto;
    }


    .header .navbar .navbar-collapse {
        position: relative;
        display: flex;
        color: white;
        width: 390px;
        margin: 0;
        text-align: center;
        padding: 0 0 0 20px;
        float: right;
        justify-content: right;
    }


    .header .navbar .container-fluid .collapse {
        margin: 10px 100px;

    }


    .header .navbar .container-fluid .collapse a {
        font-size: 8px;
    }



    .header .navbar .container-fluid .navbar-toggler {
        font-size: 15px;
        opacity: 0.5;
        border-radius: 10px;
    }


    .home {
        width: 768px;
        background-size: auto;
        background-image: url(../img/AnyConv.com__Başlıksız-22.webp);
        background-position: right;
        background-size: 50%;
    }


    .home .content {
        margin: 10px;
        margin-bottom: 0px;
    }


    .home .content h3 {
        padding: 0;
        margin: 0;
        font-size: 20px;
    }


    .home .content p {
        margin: 20px 0 0 0;
        font-size: 12px;
        width: 400px;
    }

    .home .content #demo{
        margin: 60px 0;
        font-size: 13px;
    }


    .home .content .resume i {
        transform: scale(1);
        width: fit-content;
    }


    .about {
        width: 760px;
        height: max-content;
        display: block;
        margin: 10px;
        padding: 0;
    }


    .about .container {
        width: 760px;
        height: fit-content;
        justify-content: space-around;
        padding: 10px;
    }


    .about .container .photo {
        height: fit-content;
        width: fit-content;
    }


    .about .container img {
        width: 150px;
        height: auto;
        margin: 1rem;
        padding: 0;
    }


    .about h1 {
        margin: 0 20px;
        font-size: 15px;
    }


    .about .text {
        padding: 10px;
        margin-right: 10px;
    }


    .about p {
        display: flexbox;
        margin: 30px 0;
        padding: 0;
        width: 466px;
        font-size: 10px;
        
    }


    .skills {
        margin: 5px 20px;
        padding: 0;
    }


    .skills .left-col {
        margin-left: 50px;
        padding: 0;
        width: 160px;
        height: fit-content;
    }


    .skills .left-col h2 {
        font-size: 20px;
    }


    .skills .left-col .container {
        padding: 0;
        margin: 0;
        width: 170px;
        height: fit-content;
    }


    .skills .left-col .container img {
        width: 70px;
        height: 90px;
        padding: 10px;
    }


    .skills .left-col .container .bookname {
        font-size: 12px;
        margin: 20px 0;
        padding: 0px 8px;
        width: 90px;
        height: 50px;
    }


    .skills .right-col {
        margin-right: 70px;
        padding: 0;
        width: 250px;
        height: fit-content;
    }


    .skills .right-col h2 {
        padding: 0;
        font-size: 20px;
    }


    .skills .right-col .container {
        padding: 0;
        margin: 0;
        width: 200px;
        height: fit-content;
    }


    .skills .right-col .container img {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 0;
    }


    .skills .right-col .container p {
        padding: 12px;
        font-size: 10px;
    }


    .services {
        margin: 0;
        padding: 20px;
        width: 760px;
        height: auto;
    }


    .services .container {
        height: min-content;
    }


    .services .container h1,
    .services .container span {
        padding: 0;
        margin: 0;
        font-size: 20px;
        text-align: left;
    }

    .services .services-list {
        padding: 0;
        margin: 20px 0;
        display: flex;
        width: 760px;
        height: min-content;
    }


    .services .services-list div {
        width: 200px;
        padding: 0;
        margin-left: 10px;
        height: 370px;
    }


    .services .services-list div i {
        transform: scale(0.5);
        margin-bottom: 10px;
    }


    .services .services-list div h2 {
        font-size: 16px;
        padding-left: 15px;
        margin: 0;
    }


    .services .services-list div p {
        padding: 10px;
        font-size: 10px;
    }


    .services .services-list div a {
        font-size: 10px;
        float: right;
    }


    .portfolio {
        padding: 0;
        margin: 20px 0 20px 10px;
        width: 760px;
        height: auto;
    }


    .portfolio h1 {
        font-size: 15px;
        padding-left: 20px;
    }


    .portfolio .carousel {
        width: 700px;
        margin: 20px;
        float: left;
    }

    .portfolio .portfolio_links {
        padding: 0;
        margin: 0;
        width: 760px;
        height: 400px;
    }


    .portfolio .portfolio_links .portfolio_container {
        padding: 50px 0;
        margin: 0;
        display: block;
        width: 200px;
        height: 300px;
    }


    .portfolio .portfolio_links .portfolio_container img {
        width: 150px;
        height: 300px;
    }


    .portfolio .portfolio_links .portfolio_container a {
        margin: 10px;
        font-size: 8px;
        font-weight: 100;
        opacity: 0.5;
    }


    .portfolio .portfolio_links .portfolio_container:hover a {
        opacity: 1;
    }


    .blog {
        width: 760px;
        margin: 20px;
        padding: 0;
    }


    .blog h1 {
        font-size: 20px;
        padding-left: 20px
    }


    .blog h2 {
        font-size: 17px;
        text-align: center;
    }


    .blog .left-col {
        margin: 10px 5px;
    }


    .blog .left-col .container-num {
        width: fit-content;
    }


    .blog .left-col .container-num .containerId {
        font-size: 60px;
        margin-top: 0;
        width: fit-content;
        padding-left: 17px;
        padding-bottom: 27px;
    }


    .blog .left-col .container {
        padding: 0;
        margin: 0;
        width: 700px;
        height: 110px;
    }


    .blog .left-col .container .sub-title {
        margin: 0;
        text-align: center;
    }


    .blog .left-col .container .content-left-col img {
        padding: 0;
        margin: 0;
        width: 120px;
        height: 80px;
    }


    .blog .left-col .container .content-right-col {
        width: 550px;
        margin: 6px;
    }


    .blog .left-col .container .content-right-col a {
        font-size: 10px;
        margin: 10px;
        border: 1px solid white;
    }


    #contact {
        width: 760px;
    }


    #contact h1 {
        padding: 20px;
        font-size: 20px;
    }


    #contact .contact-info {
        margin: 50px;
    }


    #contact .form {
        margin: 50px;
        width: 250px;
    }


    #contact .form input {
        width: 250px;
        height: 20px;
    }


    #contact .form textarea {
        width: 250px;
    }


    #contact .form .btn {
        width: 250px;
        margin: 0;
        padding: 0;
        font-size: 10px;
    }


    .footer {
        width: 100%;
    }
}

/* MEDİA QUERİES End */